.place__image {
    max-width: 460px;
    grid-row: 2/5;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 450px) {
    /* стили для широкого смартфона */
    .place__image {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
    .place__image {
        margin-left: 0;
        margin-right: 0;
    }
}