.lead__title {
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    font-size: 6rem;
    line-height: 6.25rem;
    font-weight: 900;
    max-width: 720px;
}

@media screen and (max-width: 450px) {
    /* стили для широкого смартфона */
    .lead__title {
        max-width: 320px;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 900;
    }
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
    .lead__title {
        max-width: 288px;
        font-size: 2.5rem;
        line-height: 2.75rem;
        font-weight: 900;
    }
}