.footer__copyright {
    margin: 0;
    min-width: 186px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
}

@media screen and (max-width: 650px) {
    /* стили для широкого смартфона */
    .footer__copyright {
        justify-content: flex-start;
    }
}