.lead__subtitle {
    margin: 0 auto;
    margin-bottom: 64px;
    text-align: center;
    font-size: 1.87rem;
    line-height: 36px;
    font-weight: 400;
    max-width: 640px;
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 450px) {
    /* стили для широкого смартфона */
    .lead__subtitle {
        margin-bottom: 40px;
        max-width: 300px;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
    .lead__subtitle {
        max-width: 288px;
        font-size: 1rem;
        line-height: 1.25rem;
    }
}