.cover {
    max-width: 1184px;
    margin-top: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    /* стили для планшета в альбомной ориентации */
    .cover {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .cover {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
    .cover {
        margin-top: 66px;
    }
}