.cover {
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    /* стили для планшета в альбомной ориентации */
    .cover {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    .cover {
        margin: 0 auto;
    }
}