    .place {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        column-gap: 40px;
        max-width: 984px;
        min-height: 660px;
        margin-top: 80px;
    }
    
    @media screen and (max-width: 768px) {
        /* стили для планшета */
        .place {
            max-width: 720px;
            min-height: 581px;
        }
    }
    
    @media screen and (max-width: 450px) {
        /* стили для широкого смартфона */
        .place {
            max-width: 380px;
            min-height: 930px;
            margin-left: 16px;
            margin-right: 16px;
        }
    }
    
    @media screen and (max-width: 320px) {
        /* стили для малого смартфона */
        .place {
            max-width: 320px;
            min-height: 964px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }